[Unit]
Description=Power off the discrete GPU after boot
ConditionPathExists=/sys/kernel/debug/vgaswitcheroo/switch
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/t2-dgpu-control-helper power-off

[Install]
WantedBy=multi-user.target
