SUBSYSTEMS=="sound", DEVPATH=="/devices/pci0000:00/*/*/t2bce_audio/t2bce_audio/card?", PROGRAM="/usr/bin/cat /sys/class/dmi/id/product_name", ATTR{id}="t2-%c"
